<ion-view style="background-image:url(./img/bg_large.jpg);">
  <ion-content >
    <div class="item top-wrapper">
      <a class="item item-icon-right temp-header" href="#" >
        THE KE DIRECTORY
        <span style="float:right;" ng-click="updateDirectory()">Update</span>
        <i class="icon ion-ios-cloud-download-outline" ng-click="updateDirectory()"></i>
      </a>
      <form ng-submit="searchAll()">
        <div class="bar item-input-inset" style="background:transparent;border:none;">
          <div class="item-input-wrapper">
            <input type="search" placeholder="Name e.g. Kenyatta National Hospital" ng-model="searchTerm.text">
            <i class="icon ion-close-round placeholder-icon" ng-show="searchTerm.text.length" ng-click="resetSearch()"></i>
          </div>
        </div>
        <div class="bar item-input-inset" style="background:transparent;border:none;">
          <div class="item-input-wrapper">
            <input type="search" placeholder="County e.g. Nairobi" ng-model="searchTerm.county">
            <i class="icon ion-close-round placeholder-icon" ng-show="searchTerm.county.length" ng-click="resetLocation()"></i>
          </div>
        </div>
        <div class="bar item-input-inset" style="background:transparent;border:none;">
          <button class="col button button-clear" type=submit ng-click="searchAll()" style="border:none; background-color:#0C85A7; color:#FFF; opacity:0.6">
            <span>Search</span>
          </button>
        </div>
      </form>
    </div>

    <ion-list>
      <ion-item style="text-align:center;background:transparent;border:none;" ng-show="resultsMessage.length">
        <span >{{resultsMessage}}</span>
      </ion-item>
      <ion-item ng-repeat="contact in directory | orderBy : matchCount" ng-click="showDetail({{contact}})" style="background:transparent;border-bottom-width:1px;border-bottom-color:#999;border-top-width:1px;border-top-color:#999;margin:auto 10px;">
        <h2>
          <strong>{{contact.name}}</strong>
        </h2>
        <p>{{contact.address}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
