<ion-view>
  <ion-nav-title>
    <a class="item page-nav-title item-icon-right" href="#">
      ALL <span style="font-size:10px; float:right;"> sync directory</span>
      <i class="icon ion-ios-cloud-download-outline" ng-click="updateDirectory()"></i>
    </a>
  </ion-nav-title>
  <ion-content >
    <div class="row bar bar-header item-input-inset" >
      <div class="item-input-wrapper bordered-div">
        <input type="search" placeholder="Name e.g. Kenyatta National Hospital" ng-model="searchTerm.text">
      </div>
    </div>
    <div class="row bar bar-header item-input-inset" >
      <div class="item-input-wrapper bordered-div">
        <input type="search" placeholder="County e.g. Nairobi" ng-model="searchTerm.county">
      </div>
    </div>

    <div class="row" style="border:none !important;">
      <div class="col button button-clear" ng-click="searchAll()" style="border:none; background-color:#0C85A7; color:#FFF; opacity:0.8">
        <span>Search</span>
      </div>
    </div>
    <ion-list ng-hide="showSearchPrompt()">
      <ion-item ng-repeat="contact in directory | orderBy : matchCount" ng-click="showDetail({{contact}})" >
        <h2>
          <strong>{{contact.name}}</strong>
        </h2>
        <p>{{contact.address}}</p>
      </ion-item>
    </ion-list>
    <div ng-show="showSearchPrompt()" style="text-align:center;margin-top:25px;">
      <p><button ng-click="showData()">create Ad</button>
      <span>{{noContactMessage}} </span>
      {{MessageTest}}
    </div>

  </ion-content>
</ion-view>
