<ion-view >
  <ion-nav-title>
    <a class="item page-nav-title item-icon-right" href="#">
      EMERGENCY <span style="font-size:10px; float:right;"> last update: 3/7/2015</span>
      <i class="icon ion-ios-cloud-download-outline" ng-click="updateDirectory()"></i>
    </a>
  </ion-nav-title>
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <a class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchTerm.text">
      </a>
      <button class="button button-clear" ng-click="searchAll()">
        <strong class="black">Search</strong>
      </button>
    </div>
    <ion-list ng-hide="showSearchPrompt()">
      <ion-item ng-repeat="contact in directory" ng-click="showDetail({{contact}})" >
        <h2>
          <strong>{{contact.name}}</strong>
        </h2>
        <p>{{contact.address}}</p>
      </ion-item>
      <div class="center-div " ng-show="{{stillMoreContacts}}" style="margin:10px !important; padding:10px !mportant;" ng-click="loadMore()">
        <span class="white-text background-theme-color" style="border: solid 5px #0D6759;">{{loadButtonText}}</span>
      </div>
    </ion-list>
    <div ng-show="showSearchPrompt()" style="text-align:center;margin-top:25px;">
      <h5 ng-show="showSearchPrompt()" style="color:#BD5532;">{{noContactMessage}} </h5>
        <br/>
    </div>
  </ion-content>
</ion-view>
