<ion-view >
  <ion-content>
    <div class="row bar bar-header item-input-inset" >
      <div class="item-input-wrapper bordered-div">
        <input type="search" placeholder="Name e.g. Kenyatta National Hospital" ng-model="searchTerm.text">
      </div>
    </div>
    <div class="row bar bar-header item-input-inset" >
      <div class="item-input-wrapper bordered-div">
        <input type="search" placeholder="County e.g. Nairobi" ng-model="searchTerm.county">
      </div>
    </div>
    <div class="row" style="border:none !important;">
      <div class="col button button-clear" ng-click="searchAll()" style="border:none; background-color:#0C85A7; color:#FFF; opacity:0.8">
        <span>Search</span>
      </div>
    </div>
    <ion-list ng-hide="showSearchPrompt()">
      <ion-item ng-repeat="contact in directory" ng-click="showDetail({{contact}})" >
        <h2>
          <strong>{{contact.name}}</strong>
        </h2>
        <p>{{contact.address}}</p>
      </ion-item>
      <div class="center-div " ng-show="{{stillMoreContacts}}" style="margin:10px !important; padding:10px !mportant;" ng-click="loadMore()">
        <span class="white-text background-theme-color" style="border: solid 5px #0D6759;">{{loadButtonText}}</span>
      </div>
    </ion-list>
    <div ng-show="showSearchPrompt()" style="text-align:center;margin-top:25px;">
      <span>{{noContactMessage}} </span>
    </div>
  </ion-content>
</ion-view>
