<ion-view>
  <ion-content >
    <div class="item top-wrapper">
      <a class="item item-icon-right temp-header" href="#" >
        ALL
        <span style="float:right;" ng-click="updateDirectory()">Update Directory</span>
        <i class="icon ion-ios-cloud-download-outline" ng-click="updateDirectory()"></i>
      </a>

      <div class=" bar  item-input-inset" style="background:transparent;border:none;">
        <div class="item-input-wrapper">
          <input type="search" placeholder="Name e.g. Kenyatta National Hospital" ng-model="searchTerm.text">
        </div>
      </div>
      <div class="row bar item-input-inset" style="background:transparent;border:none;">
        <div class="item-input-wrapper">
          <input type="search" placeholder="County e.g. Nairobi" ng-model="searchTerm.county">
        </div>
      </div>
    </div>
    <div class="row" style="border:none !important;">
      <div class="col button button-clear" ng-click="searchAll()" style="border:none; background-color:#0C85A7; color:#FFF; opacity:0.8">
        <span>Search</span>
      </div>
    </div>
    <ion-list ng-hide="showSearchPrompt()">
      <ion-item ng-repeat="contact in directory | orderBy : matchCount" ng-click="showDetail({{contact}})" >
        <h2>
          <strong>{{contact.name}}</strong>
        </h2>
        <p>{{contact.address}}</p>
      </ion-item>
    </ion-list>
    <div ng-show="showSearchPrompt()" style="text-align:center;margin-top:25px;">
      <span>{{noContactMessage}} </span>
    </div>

  </ion-content>
</ion-view>
