<ion-view >
  <ion-nav-title>
    <div class="item page-nav-title">
      <span>OFFICES</span>
    </div>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="search" ng-model="name">
        </label>
        <button class="button button-small" ng-click="search()">
          Search
        </button>
      </div>
      <ion-item class="item-avatar" ng-repeat="contact in directory" ng-click="showDetail({{contact}})" >
        <img ng-src="{{fullProfileImagePath(contact.pic)}}" style="width: 64px; height: 64px">
        <h2>
          <strong>{{contact.name}}</strong>
        </h2>
        <p>4049-4344, Nairobi </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
