<ion-tabs class="tabs-icon-top tabs-color-active-positive tab-bar-section">
  <!-- Saved Tab -->
  <ion-tab  title="All" icon-off="ion-ios-grid-view-outline" icon-on="ion-ios-grid-view-outline" href="#/tab/all">
    <ion-nav-view name="tab-all">
    </ion-nav-view>
  </ion-tab>

  <!-- Emergency Tab -->
  <ion-tab  title="Emergency" icon-off="ion-ios-medkit-outline" icon-on="ion-ios-medkit-outline" href="/tab/emergency">
    <ion-nav-view name="tab-emergency" >
    </ion-nav-view>
  </ion-tab>

  <!-- Offices Tab -->
  <ion-tab title="Offices" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" href="#/tab/offices">
    <ion-nav-view name="tab-offices">
    </ion-nav-view>
  </ion-tab>

</ion-tabs>
