.top-wrapper{
  background-image: url(../img/bg_die.jpg);
  width: 100%;
  height: auto;
}

.temp-header{
  width: 100%;
  height: 45px;
  color: #FFF !important;
  background-image: url(../img/bg_die.jpg);
  border: none !important;
  border-width: 0px;
  border-color: transparent;
}

.page-header{
  background-color: #0C85A7 !important;
  height: 50px !important;
  border-top: 5px solid #0C85A7 !important;
  border-bottom: none;
  width: 100% !important;
  padding: 0px !important;
}
.page-nav-title{
  height: 50px !important;
  padding-top: 4px !important;
  padding-bottom: 0px !important;
  /*background: transparent;*/
  color: #FFF !important;
  border: none !important;
  margin: 0px !important;
  text-align: left;
  width: 100% !important;


}

.tab-nav{
  background-color: #0C85A7 !important;
}

.white-text{
  color: #FFF !important;
}

.background-theme-color{
  background-color: #0C85A7 !important;
}

.title-image {
  margin-top: 0px;
  height: 15px;
}

.tab-bar-section{
  margin-top: 3px !important;
  background-color: #0C85A7 !important;
  margin-bottom: -3px;
}

.tab-item{
  background-color: #0C85A7 !important;
  color: #FFF !important;
  border-top-color: #0C85A7 !important;
  opacity: 1 !important;
  border-width: 0px !important;

}

.tab-item.active, .tab-item.activated, .tab-item-active {
  background-color: #0C85A7 !important;
  color: #CCC !important;
  border-bottom-color: #FFF !important;
  opacity: 1 !important;
}

.center-div{
  text-align: center;
}

.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #bbb;
}

.page-footer{
  background: transparent;
  color: #FFF !important;
}

.bordered-div{
  border-width: 2px !important;
  border-color: #0C85A7 !important;
}

.black{
  color: #0C85A7;
}
